In [1]:
import lightgbm as lgb
import xgboost as xgb 
import catboost as catb

import pandas as pd
import numpy as np
from sklearn.metrics import auc

# Label Encoding our target variable 
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [2]:
#loading the dataset 
df_train = pd.read_csv('../data/loan_prediction_train.csv')
df_test = pd.read_csv('../data/loan_prediction_test.csv')

In [3]:
df_train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
df_test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [5]:
#drop the ID column
df_train.drop(['Loan_ID'], inplace=True, axis=1)
df_test.drop(['Loan_ID'], inplace=True, axis=1)

objList_train = df_train.select_dtypes(include = "object").columns
print (objList_train)

objList_test = df_test.select_dtypes(include = "object").columns
print (objList_test)

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'Property_Area', 'Loan_Status'],
      dtype='object')
Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'Property_Area'],
      dtype='object')

In [6]:
#Label Encoding for object to numeric conversion
le = LabelEncoder()

for feat in objList_train:
    df_train[feat] = le.fit_transform(df_train[feat].astype(str))

df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             614 non-null    int32
 1   Married            614 non-null    int32
 2   Dependents         614 non-null    int32
 3   Education          614 non-null    int32
 4   Self_Employed      614 non-null    int32
 5   ApplicantIncome    614 non-null    int64
 6   CoapplicantIncome  614 non-null    float64
 7   LoanAmount         592 non-null    float64
 8   Loan_Amount_Term   600 non-null    float64
 9   Credit_History     564 non-null    float64
 10  Property_Area      614 non-null    int32
 11  Loan_Status        614 non-null    int32
dtypes: float64(4), int32(7), int64(1)
memory usage: 40.9 KB

In [7]:
for feat_test in objList_test:
    df_test[feat_test] = le.fit_transform(df_test[feat_test].astype(str))

df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             367 non-null    int32
 1   Married            367 non-null    int32
 2   Dependents         367 non-null    int32
 3   Education          367 non-null    int32
 4   Self_Employed      367 non-null    int32
 5   ApplicantIncome    367 non-null    int64
 6   CoapplicantIncome  367 non-null    int64
 7   LoanAmount         362 non-null    float64
 8   Loan_Amount_Term   361 non-null    float64
 9   Credit_History     338 non-null    float64
 10  Property_Area      367 non-null    int32
dtypes: float64(3), int32(6), int64(2)
memory usage: 23.1 KB

In [8]:
df_train.Loan_Status.value_counts()

1    422
0    192
Name: Loan_Status, dtype: int64

In [9]:
df_test.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,1,0,0,0,5720,0,110.0,360.0,1.0,2
1,1,1,1,0,0,3076,1500,126.0,360.0,1.0,2
2,1,1,2,0,0,5000,1800,208.0,360.0,1.0,2
3,1,1,2,0,0,2340,2546,100.0,360.0,NaN,2
4,1,0,0,1,0,3276,0,78.0,360.0,1.0,2

In [10]:
#Imputing missing values 
#df_train.fillna(df_train.mode()[0],inplace=True)

In [11]:
# get the labels
y = df_train.Loan_Status.values
df_train.drop(['Loan_Status'], inplace=True, axis=1)
x = df_train.values

In [12]:
#Now splitting our dataset into test and train 
from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3)

In [13]:
# create dataset for lightgbm
lgb_train = lgb.Dataset(x_train, y_train)
lgb_eval = lgb.Dataset(x_test, y_test, reference=lgb_train)

In [14]:
# specify your configurations as a dict
params = {
    'boosting_type': 'gbdt',
    'objective': 'binary',
    'metric': 'auc',
    'num_leaves': 31,
    'learning_rate': 0.05,
    'feature_fraction': 0.9,
    'bagging_fraction': 0.8,
    'bagging_freq': 5,
    'verbose': 0
}

In [15]:
print('Starting training...')
# train
gbm = lgb.train(params,
                lgb_train,
                num_boost_round=20)

print('Saving model...')
# save model to file
gbm.save_model('../models/model.txt')

Starting training...
Saving model...

In [16]:
print('Starting predicting...')
# predict
y_pred = gbm.predict(x_test)

Starting predicting...

In [17]:
y_pred[0:5]
y_pred

array([0.7904547 , 0.7993369 , 0.73395325, 0.61560182, 0.78733107,
       0.26216126, 0.82511668, 0.30028949, 0.8084354 , 0.73114515,
       0.65588291, 0.77711158, 0.74457246, 0.75460156, 0.80035234,
       0.30028949, 0.75944362, 0.77676751, 0.66365917, 0.80271734,
       0.61816068, 0.32837166, 0.77113812, 0.82479402, 0.70913318,
       0.77039448, 0.85930346, 0.82900336, 0.64008899, 0.7956065 ,
       0.75379346, 0.73511982, 0.83197262, 0.7009347 , 0.75370761,
       0.3372844 , 0.61655558, 0.26216126, 0.71406033, 0.8016323 ,
       0.81646767, 0.77870855, 0.80916894, 0.72064063, 0.73511982,
       0.71456329, 0.7127889 , 0.73840346, 0.55586225, 0.26983202,
       0.80781357, 0.79528814, 0.32421984, 0.65360556, 0.8632365 ,
       0.73744814, 0.7187096 , 0.68437446, 0.75735285, 0.7203643 ,
       0.84164083, 0.24186426, 0.66566771, 0.66280157, 0.65615353,
       0.26860824, 0.31659866, 0.79390671, 0.78257436, 0.71008225,
       0.74559084, 0.77797854, 0.82079385, 0.70993963, 0.76899056,
       0.75278004, 0.60897087, 0.74615555, 0.71127854, 0.7780611 ,
       0.32540587, 0.81392328, 0.68203719, 0.7279707 , 0.72025292,
       0.78574556, 0.72517153, 0.75465406, 0.8338153 , 0.87218779,
       0.86301674, 0.75840215, 0.73124156, 0.71976997, 0.28695116,
       0.67805112, 0.30190256, 0.86413179, 0.74091262, 0.8585791 ,
       0.72820382, 0.74964189, 0.72647649, 0.26491522, 0.8016323 ,
       0.30475435, 0.79044734, 0.2610763 , 0.27532859, 0.84450437,
       0.81197475, 0.80968564, 0.26366614, 0.75739997, 0.84539209,
       0.77125117, 0.61931739, 0.80531652, 0.75798091, 0.73264539,
       0.81709734, 0.27553996, 0.73253101, 0.30788781, 0.30788781,
       0.86345669, 0.68267636, 0.79953093, 0.74220805, 0.26491522,
       0.85482438, 0.26216126, 0.86539902, 0.85424833, 0.71445089,
       0.7286281 , 0.75893945, 0.27394871, 0.69416233, 0.77347016,
       0.75379346, 0.61172087, 0.78496033, 0.7120464 , 0.81185363,
       0.85842078, 0.75148064, 0.75590459, 0.81533287, 0.70185246,
       0.30828826, 0.27254815, 0.75234053, 0.73139146, 0.65696399,
       0.75366171, 0.70467083, 0.77252401, 0.60547224, 0.69760845,
       0.26153066, 0.70931174, 0.73561358, 0.81667368, 0.30190256,
       0.69779711, 0.75834718, 0.79200602, 0.81695989, 0.86641444,
       0.83959487, 0.74154267, 0.26983202, 0.79012461, 0.76870137,
       0.80333489, 0.60897087, 0.77922142, 0.8026364 , 0.74315628,
       0.84328044, 0.80662515, 0.79745982, 0.80000827, 0.83391837])

In [18]:
for i in range(0,len(y_pred)):
    if y_pred[i]>=.5:       # setting threshold to .5
        y_pred[i]=1
    else:  
        y_pred[i]=0

In [19]:
#calculating accuracy
from sklearn.metrics import accuracy_score 
accuracy_lgbm = accuracy_score(y_pred,y_test)
accuracy_lgbm

0.8108108108108109

In [20]:
from sklearn.metrics import roc_auc_score

In [21]:
#calculating roc_auc_score for xgboost
auc_lgbm =  roc_auc_score(y_test,y_pred)
auc_lgbm

0.7124451754385965